@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #0a0a0a; }
::-webkit-scrollbar-thumb { background: #9945FF; border-radius: 3px; }

body {
  background: #0a0a0a;
}
